table.options-table tbody th{ width:150px; }



/**

 * Checkbox iphone

 * */

.iPhoneCheckContainer {

  position: relative;

  margin: 5px 0px;

  height: 27px;

  cursor: pointer;

  overflow: hidden; 

}

/* nk addon for customize controls*/

.customize-control .iPhoneCheckContainer {

  width:88px;

  float:right;

}



  .iPhoneCheckContainer input {

    position: absolute;

    top: 5px;

    left: 30px;

    opacity: 0;

    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);

    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); }

  .iPhoneCheckContainer label {

    white-space: nowrap;

    font-size: 17px;

    line-height: 17px;

    font-weight: bold;

    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;

    text-transform: uppercase;

    cursor: pointer;

    display: block;

    height: 27px;

    position: absolute;

    width: auto;

    top: 0;

    padding-top: 5px;

    overflow: hidden; }

  .iPhoneCheckContainer, .iPhoneCheckContainer label {

    user-select: none;

    -moz-user-select: none;

    -khtml-user-select: none; }



.iPhoneCheckDisabled {

  opacity: 0.5;

  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);

  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); }



label.iPhoneCheckLabelOn {

  color: white;

  background: url( 'iphone-style-checkboxes/on.png?1282083753' ) no-repeat;

  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);

  left: 0;

  padding-top: 5px; }

  label.iPhoneCheckLabelOn span {

    padding-left: 8px; }

label.iPhoneCheckLabelOff {

  color: #CCCCCC;

  background: url( 'iphone-style-checkboxes/off.png?1282083753' ) no-repeat right 0;

  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9);

  text-align: right;

  right: 0; }

  label.iPhoneCheckLabelOff span {

    padding-right: 8px; }



.iPhoneCheckHandle {

  display: block;

  height: 27px;

  cursor: pointer;

  position: absolute;

  top: 0;

  left: 0;

  width: 0;

  background: url( 'iphone-style-checkboxes/slider_left.png?1282083753' ) no-repeat;

  padding-left: 3px; }



.iPhoneCheckHandleRight {

  height: 100%;

  width: 100%;

  padding-right: 3px;

  background: url( 'iphone-style-checkboxes/slider_right.png?1282083753' ) no-repeat right 0; }



.iPhoneCheckHandleCenter {

  height: 100%;

  width: 100%;

  background: url( 'iphone-style-checkboxes/slider_center.png?1282083753' ); }