/* OVERRIDE WP CUSTOMIZER */

.wp-core-ui a {

	color: #1ABC9C;

}

.wp-core-ui .button-primary {

	background: #1ABC9C;

	border-color: #15AE90;

}

.wp-core-ui .button-primary.hover, .wp-core-ui .button-primary:hover, .wp-core-ui .button-primary.focus, .wp-core-ui .button-primary:focus {

	background: #15AE90;

	border-color: #15AE90;

}



.wp-core-ui .button-primary[disabled], .wp-core-ui .button-primary:disabled, .wp-core-ui .button-primary-disabled, .wp-core-ui .button-primary.disabled {

	color: #E5E5E5 !important;

	background: #15AE90 !important;

	border-color: #15AE90 !important;

}

.wp-core-ui h3 {

	color: #555;

}

.accordion-section-content {

	padding: 10px 10px 15px 20px;

}

.widget-action, .handlediv, .item-edit, .sidebar-name-arrow, .accordion-section-title:after {

	color: #1ABC9C;

}

.control-section.control-panel > .accordion-section-title:after {

	color: #1ABC9C;

}

.customize-control-title {

	line-height: 18px;

}

/*SOCIAL ICONS*/

/* ICONS

  -------------------------------------------------- */

@font-face {

    font-family: 'genericons';

    src: url( '../../assets/css/fonts/fonts/genericons-regular-webfont.eot' );

    src: url( '../../assets/css/fonts/fonts/genericons-regular-webfont.eot?#iefix' ) format( 'embedded-opentype' ),

         url( '../../assets/css/fonts/fonts/genericons-regular-webfont.woff' ) format( 'woff' ),

         url( '../../assets/css/fonts/fonts/genericons-regular-webfont.ttf' ) format( 'truetype' ),

         url( '../../assets/css/fonts/fonts/genericons-regular-webfont.svg#genericonsregular' ) format( 'svg' );

}

span[class*=tc-icon] {

	margin-bottom: 5px;

}

span[class*=tc-icon]:before {

  font-family: 'genericons';

  speak: none;

  font-weight: normal;

  font-variant: normal;

  text-transform: none;

  line-height: 1;

  -webkit-font-smoothing: antialiased;

  color: #1ABC9C;

	font-size: 1.5em;

	text-shadow: 0 1px 0 #FFF;

	opacity: 0.8;

	display: inline;

	background: none;

	width: inherit;

	height: inherit;

	vertical-align: inherit;

	line-height: inherit;

	margin: 0px;

	text-decoration: none;

	padding-right: 10px;

	position: relative;

	top: 4px;

}

.tc-icon-google:before {

  content: "\f206";

}

.tc-icon-facebook:before {

  content: "\f204";

}

.tc-icon-twitter:before {

  content: "\f202";

}

.tc-icon-rss:before {

  content: "\f413";

}

.tc-icon-flux:before {

  content: "\f413";

}

.tc-icon-github:before {

  content: "\f200";

}

.tc-icon-dribbble:before {

  content: "\f201";

}

.tc-icon-pinterest:before {

  content: "\f209";

}

.tc-icon-youtube:before {

  content: "\f213";

}

.tc-icon-linkedin:before {

  content: "\f208";

}

.tc-icon-wordpress:before {

  content: "\f205";

}

.tc-icon-instagram:before {

  content: "\f215";

}

.tc-icon-flickr:before {

  content: "\f211";

}

.tc-icon-tumblr:before {

  content: "\f214";

}





/* DONATE BLOCK*/

#tc-donate-customizer {

	background-color: #FFF;

	color: #666;

	border-left: 0;

	border-right: 0;

	border-bottom: 1px solid #EEE;

	margin: 0;

	padding: 4px 15px 4px;

	position: relative;

	-webkit-user-select: none;

	-moz-user-select: none;

	-ms-user-select: none;

	user-select: none;

}

#tc-donate-customizer h3 {

	font-size: 13px;

	margin-bottom: 1px;

	margin-top: 0px;

	width: 94%;

}

#tc-donate-customizer .tc-notice {

	padding-bottom: 4px;

}

#tc-donate-customizer p {

	margin: 0px;

}

#tc-donate-customizer .tc-donate-link {

	display: block;

	text-align: center;

}

.donate-alert {

	display: none;

	clear: both;

	background-color: #DFF0D8;

	border-color: 1px solid #D6E9C6;

	color: #468847;

	padding: 10px;

	margin-top: 0px;

	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);

	-webkit-border-radius: 4px;

	-moz-border-radius: 4px;

	border-radius: 4px;

}

.donate-alert p {

	font-size: 12px;

}

.donate-alert .button {

	padding: 0 9px 1px;

}



#tc-donate-customizer .tc-close-request{

	position: absolute;

	right: 13px;

	top: 9px;

	font-size: 13px;

	line-height: 19px;

	height: 21px;

	margin: 0;

	padding: 0 4px 0px;

}

.tc-hide-donate, .tc-cancel-hide-donate {

	padding: 0 5px 1px;

}



/* GENERAL STYLE */

.control-section .accordion-section-content {

	overflow-y: auto;

}

li[id*="customize-control-"] {

	margin-bottom: 8px;

}

#customize-info .accordion-section-title {

	padding-bottom: 0px;

}



.control-section .accordion-section-title {

	padding: 6px 20px!important;

}

.control-section .accordion-section-title:after {

	top: 7px;

}

.control-section.control-panel > .accordion-section-title:after {

	top: 7px;

	-webkit-transition: right .3s ease-in-out, opacity .3s ease-in-out;

	-moz-transition: right .3s ease-in-out, opacity .3s ease-in-out;

	-ms-transition: right .3s ease-in-out, opacity .3s ease-in-out;

	-o-transition: right .3s ease-in-out, opacity .3s ease-in-out;

	transition: right .3s ease-in-out, opacity .3s ease-in-out;

	right: 10px;

	opacity:0.7;

}

#customize-theme-controls .control-section.control-panel > h3.accordion-section-title:hover:after ,  #customize-theme-controls .control-section.control-panel > h3.accordion-section-title:focus:after {

	right: 8px;

	top: 8px;

	opacity:1;

	color: #F5F5F5!important;

}



/* Overrides WP built in style : hack for nested section arrow */

#customize-theme-controls .control-section.control-panel>h3.accordion-section-title:focus:after, #customize-theme-controls .control-section.control-panel>h3.accordion-section-title:hover:after, .control-section.control-panel>.accordion-section-title:after {

	background: none!important;

	border: none!important;

}



#customize-theme-controls h3.accordion-section-title {

	font-family: "Open Sans", sans-serif;

	font-size: 15px;

	-webkit-transition: background .1s ease-in-out;

	-moz-transition: background .1s ease-in-out;

	-ms-transition: background .1s ease-in-out;

	-o-transition: background .1s ease-in-out;

	transition: background .1s ease-in-out;

}

#customize-theme-controls > .control-section:hover .accordion-section-title, #customize-theme-controls .control-section .accordion-section-title:hover, #customize-theme-controls .control-section.open .accordion-section-title, #customize-theme-controls .control-section .accordion-section-title:focus {

	background: #1ABC9C;

	-webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);

	box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);

	color: #FFF!important;

}

#customize-theme-controls > .control-section:hover .accordion-section-title::after, #customize-theme-controls .control-section .accordion-section-title:hover::after, #customize-theme-controls .control-section.open .accordion-section-title::after, #customize-theme-controls .control-section .accordion-section-title:focus::after {

	color: #FFF;

}

.customize-control-checkbox label {

	line-height: 16px;

}

.customize-control-title {

	color: #555;

	font-size: 13px;

}

.tc-customizr-title {

	/* color: #555; */

	text-transform: uppercase;

	/* text-shadow: 0 1px 0 #FFF; */

	margin: 1em 0em 5px 0em;

	font-size: 14px!important;

	border-bottom: 1px dotted #1ABC9C;

	padding-bottom: 5px;

}

.tc-after-button {

	border-color: white;

	margin-top:15px;

}

.tc-emphasize {

	line-height: 1.2em;

	color: #2E2E2E;

}

i.tc-notice {

	display: block;

	clear: both;

}

span.tc-notice {

	color: #313131;

	font-size:13px;

	font-style: italic;

	clear: both;

	display: block;

	line-height: 18px;

}

.tc-customizer-separator-invisible {

	border:none;

	margin-top:15px;

}

.tc-skin-gen-label {

	float: left;

}

.tc-skin-gen-color-picker {

	float: right;

}

.tc-number-label {

	float: left;

}

.tc-number-input {

	float: right;

}

.tc-check-label {

	float: left;

	max-width: 85%;

}

input[type=checkbox], input[type=radio] {

	float: right;

	min-height: 18px;

}

.tc-font-select {

	float: left;

}



/* CUSTOM CSS TEXT AREA */

li#customize-control-tc_theme_options-tc_custom_css textarea {

	font-size: 14px;

	background: #394143;

	color: #E2E728;

	min-height: 300px;

}







/* iCheck plugin Flat skin, green

----------------------------------- */

.icheckbox_flat-green,

.iradio_flat-green {

    display: inline-block;

    *display: inline;

    vertical-align: middle;

    margin: 0;

    padding: 0;

    width: 20px;

    height: 20px;

    background: url(img/green.png) no-repeat;

    border: none;

    cursor: pointer;

    top: 4px;

    float: right;

}



.icheckbox_flat-green {

    background-position: 0 0;

}

.icheckbox_flat-green.checked {

    background-position: -22px 0;

}

.icheckbox_flat-green.disabled {

    background-position: -44px 0;

    cursor: default;

}

.icheckbox_flat-green.checked.disabled {

    background-position: -66px 0;

}



.iradio_flat-green {

    background-position: -88px 0;

}

.iradio_flat-green.checked {

    background-position: -110px 0;

}

.iradio_flat-green.disabled {

    background-position: -132px 0;

    cursor: default;

}

.iradio_flat-green.checked.disabled {

    background-position: -154px 0;

}



/* Retina support */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),

       only screen and (-moz-min-device-pixel-ratio: 1.5),

       only screen and (-o-min-device-pixel-ratio: 3/2),

       only screen and (min-device-pixel-ratio: 1.5) {

    .icheckbox_flat-green,

    .iradio_flat-green {

        background-image: url(img/green@2x.png);

        -webkit-background-size: 176px 22px;

        background-size: 176px 22px;

    }

}







/* 

 * Selecter v3.1.9 - 2014-09-02 

 * A jQuery plugin for replacing default select elements. Part of the Formstone Library. 

 * http://formstone.it/selecter/ 

 * 

 * Copyright 2014 Ben Plum; MIT Licensed 

 */ 

.selecter-element { *left: -999999px; position: absolute; opacity: 0; }

.selecter { display: block;float: right;margin: 2px 0;position: relative;width: 100%;z-index: 100; }

.selecter .selecter-selected { background: #F9F9F9 url(img/jquery.fs.selecter-arrow.png) no-repeat right center; border: 1px solid #ccc; border-radius: 3px; color: #333; cursor: pointer; display: block; font-size: 13px; margin: 0; overflow: hidden; padding: 4px 4.6%; position: relative; text-overflow: clip; z-index: 49; box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);height: auto;line-height: 18px;width: 90%; }

.selecter .selecter-options { border: 1px solid #ccc; border-width: 0 1px 1px; background-color: #fefefe; border-radius: 0 0 3px 3px; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15); display: none; left: 0; margin: 0; max-height: 260px; overflow: auto; overflow-x: hidden; padding: 0; position: absolute; top: 100%; width: 99%; *width: auto; z-index: 50; }

.selecter .selecter-group { background: #F9F9F9; border-bottom: 1px solid #e3e3e3; color: #999; display: block; font-size: 11px; padding: 5px 10px 4px; text-transform: uppercase; }

.selecter .selecter-item { background: #fff; border-bottom: 1px solid #e3e3e3; color: #333; cursor: pointer; display: block; font-size: 13px; margin: 0; overflow: hidden; padding: 8px 10px; text-overflow: ellipsis; width: 86%;height: auto;line-height: 14px;padding: 8px 24px 8px 10px;}

.selecter .selecter-item.selected { background: #F9F9F9; }

.selecter .selecter-item.disabled { color: #999; cursor: default; }

.selecter .selecter-item:first-child { border-radius: 0; }

.selecter .selecter-item:last-child { border-radius: 0 0 2px 2px; border-bottom: 0; }



@media screen and (min-width: 980px) {

  .selecter .selecter-item:hover,

  .selecter .selecter-item.selected:hover { background-color: #f3f3f3; }

  .selecter .selecter-item.disabled:hover { background-color: #fff; }



  .selecter:hover .selecter-selected { background-color: #fff; }



  .selecter.disabled .selecter-item:hover { background: #fff; }

}



/* Open */

.selecter.open { z-index: 101; }

.selecter.open .selecter-selected { border-radius: 3px 3px 0 0; z-index: 51; }



.selecter.open .selecter-selected,

.selecter.focus .selecter-selected { background-color: #fff; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }



/* 'Cover' Positioning */

.selecter.cover .selecter-options { border-radius: 3px; border-width: 1px; top: 0; }

.selecter.cover .selecter-options .selecter-item.first { border-radius: 3px 3px 0 0; }

.selecter.cover.open .selecter-selected { border-radius: 3px 3px 0 0; z-index: 49; }



/* 'Bottom' Positioning */

.selecter.bottom .selecter-options { border-width: 1px 1px 0; bottom: 100%; top: auto; }

.selecter.bottom .selecter-item:last-child { border: none; }

.selecter.bottom.open .selecter-selected { border-radius: 0 0 3px 3px; }

.selecter.bottom.open .selecter-options { border-radius: 3px 3px 0 0; }



/* 'Bottom' + 'Cover' Positioning */

.selecter.bottom.cover .selecter-options { bottom: 0; top: auto; }

.selecter.bottom.cover.open .selecter-selected { border-radius: 3px; }

.selecter.bottom.cover.open .selecter-options { border-radius: 3px; }



/* Multiple Select */

.selecter.multiple .selecter-options { border-radius: 3px; border-width: 1px; box-shadow: none; display: block; position: static; width: 100%; }



/* 'Disabled' State */

.selecter.disabled .selecter-selected { background: #fff; border-color: #eee; color: #ccc; cursor: default; }

.selecter.disabled .selecter-options { background: #fff; border-color: #eee; }

.selecter.disabled .selecter-group,

.selecter.disabled .selecter-item { border-color: #eee; color: #ccc; cursor: default; }

.selecter.disabled .selecter-item.selected { background: #fafafa; }



/* Scroller Support */

.selecter .selecter-options.scroller { overflow: hidden; }

.selecter .selecter-options.scroller .scroller-content { max-height: 260px; padding: 0; }



/* Media Queries */

@media screen and (max-width: 740px) {

  .selecter { max-width: 100%; }

}

@media screen and (max-width: 500px) {

  .selecter { max-width: 100%; }

}





/* 

 * Stepper v3.0.7 - 2014-05-07 

 * A jQuery plugin for cross browser number inputs. Part of the Formstone Library. 

 * http://formstone.it/stepper/ 

 * 

 * Copyright 2014 Ben Plum; MIT Licensed 

 */ 

.stepper { border-radius: 3px; margin: 0 0 10px 0; overflow: hidden; position: relative; width: 35%;float: left; clear: both;}

.stepper .stepper-input { background: #F9F9F9; border: 1px solid #ccc; border-radius: 3px; color: #333; font-size: 13px; line-height: 1.2; margin: 0; overflow: hidden; padding: 5px 10px 5px!important; width: 100%!important; z-index: 49;	-moz-appearance: textfield;max-width: none!important;

}



.stepper .stepper-input::-webkit-inner-spin-button,

.stepper .stepper-input::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }



.stepper .stepper-input:focus { background-color: #fff; }

.stepper .stepper-arrow { background: #eee url(img/jquery.fs.stepper-arrows.png) no-repeat; border: 1px solid #ccc; cursor: pointer; display: block; height: 46%; position: absolute; right: 0; text-indent: -99999px; width: 20px; z-index: 50; }

.stepper .stepper-arrow.up { background-position: center top; border-bottom: none; top: 0; }

.stepper .stepper-arrow.down { background-position: center bottom; bottom: 0; }



@media screen and (min-width: 740px) {

	.stepper:hover .stepper-input { background-color: #fff; }



	.stepper .stepper-step:hover { background-color: #F9F9F9; }



	.stepper.disabled .stepper-arrow { background: #fff; border-color: #eee; cursor: default; }

}



.stepper.disabled .stepper-input { background: #fff; border-color: #eee; color: #ccc; }

.stepper.disabled .stepper-arrow { background: #fff; border-color: #eee; cursor: default; }





/* SELECT 2 SPECIFICS */

.wp-customizer .select2-container {

	width: 100%

}

.wp-customizer .select2-drop {

	z-index: 999999;

}

.wp-customizer .select2-drop-active {

    border: 1px solid #1ABC9C;

}

.wp-customizer .select2-drop.select2-drop-above.select2-drop-active {

    border-top: 1px solid #1ABC9C;

}

.wp-customizer .select2-container-active .select2-choices {

    border: 1px solid #1ABC9C;

}

.wp-customizer .select2-container-multi.select2-container-active .select2-choices {

    border: 1px solid #1ABC9C;

}

.wp-customizer .select2-container-active .select2-choice,

.wp-customizer .select2-container-active .select2-choices {

    border: 1px solid #1ABC9C;

}

.wp-customizer .select2-results .select2-highlighted {

    background: #eee;

}

.wp-customizer .select2-results li em {

    background: #F4F4F4;

}

.wp-customizer .select2-container .select2-choice > .select2-chosen {

	margin-right: 0px;

}

.wp-customizer .select2-container .select2-choice {

	padding: 0px;

}

.wp-customizer li.select2-results-dept-0.select2-result.select2-result-selectable {

	padding: 0;

}

.wp-customizer .select2-results .select2-result-label {

	padding: 0;

}

.select2-results .tc-select2-skin-color {

	padding: 8px 0px;

}

.wp-customizer .select2-results {

	max-height: 360px

}

.tc-select2-skin-color {

	display: inline-block;

	-webkit-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.65);

	-moz-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.65);

	box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.65);

	padding: 0;

	width: 100%;

	text-align: center;

	text-shadow: 1px 1px 1px #000;

	font-weight: bold;

	color: #FFF;

	-webkit-transition: box-shadow .25s ease;

	-moz-transition: box-shadow .25s ease;

	-ms-transition: box-shadow .25s ease;

	-o-transition: box-shadow .25s ease;

	transition: box-shadow .25s ease;

	/* vertical-align: middle; */

}

.select2-chosen .tc-select2-skin-color, .tc-select2-skin-color:hover {

	-webkit-box-shadow: none;

	-moz-box-shadow:none;

	box-shadow: none;

	/*font-size: 15px;*/

}